body{
	font: 12px '微软雅黑';
}
#content{
	width: 980px;
	margin: 0 auto;
}
.nav_toplist{
	width: 980px;
	height: 59px;
	padding-top: 14px;
	border-bottom: 1px solid #e5e9ef;	
}
.nav_toplist li{
	float: left;
	width: 48px;
	height: 44px;
	text-align: center;
}
.nav_toplist a{
	display: block;
	line-height: 21px;
}
.nav_toplist i{
	display: inline-block;
	color: #fff;
	padding:1px 2px;
	border-radius: 2px;
	margin: 2px 0;
	background-color: #fdb9ce;
	font-size: 10px;
}
.nav_toplist li:nth-child(1){
	width: 33px;
	text-align: left;
}
.nav_toplist .active{
	color: #00a1d6;
	border-bottom: 2px solid #00a1d6;
}
.nav_toplist li:nth-child(1) i{
	display: block;
	margin: 0;
	margin-left: 2px;
	width: 18px;
	height: 18px;
	padding: 0;
	background: url(../img/comic-img/icons.png) no-repeat;
}
.nav_spe1 i{
	width: 17px;
	height: 15px;
	margin: 0;
	padding: 0;
	background: url(../img/comic-img/icons.png) no-repeat 2px -25px;
}
.nav_spe2 i{
	width: 17px;
	height: 15px;
	margin: 0;
	padding: 0;
	background: url(../img/comic-img/icons.png) no-repeat 0px -53px;
}
.nav_spe3 i{
	width: 17px;
	height: 15px;
	margin: 0;
	padding: 0;
	background: url(../img/comic-img/icons.png) no-repeat 0px -81px;
}
.nav_spe4 i{
	width: 17px;
	height: 15px;
	margin: 0;
	padding: 0;
	background: url(../img/comic-img/icons.png) no-repeat 0px -110px;
}
.nav_bottomlist{
	margin-bottom: 10px;
}
.nav_bottomlist li{
	float: left;
	line-height: 48px;
	padding: 0 20px;
	color: #838a8e;	
}
.nav_bottomlist li:nth-child(1){
	padding-left: 0;
	color: #00a1d6;
}
.banner{
	width: 620px;
	height: 220px;
	margin-right: 20px;
	position: relative;
}
.banner_icons{
	float: right;
	margin-top: 10px;	
	width: 150px;
	height: 18px;
}
.banner_icons li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 7px;
	float: left;
	background-color: #fff;
}
.banner_bottom{
	line-height: 36px;
	width: 620px;
	background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0));
}
.banner_bottom .text{
	float: left;
	text-indent: 10px;
}
.cont_head .hot{
	width: 340px;
	height: 240px;
}
.cont_head .hot li{
	overflow: hidden;
	float: left;
	width: 160px;
	height: 100px;
	position: relative;
	margin-right:20px;
	margin-bottom: 20px;
}
.cont_head{
	margin-bottom:31px;
}
.cont_head .hot .text{
	text-align: center;
	width: 160px;
	line-height: 24px;
	background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0));
}
.cont_head .hot li:nth-child(2n){
	margin-right: 0;
}
/*mad样式*/
.itm .left_part{
	width: 720px;
}
.itm header{
	height: 24px;
	margin-bottom: 20px;
}
.itm h3{
	font: 22px/24px '微软雅黑';
	margin-right: 12px;
}
.itm .new li{
	float: left;
	margin: 0 6px;
}
.itm .new a{
	display: block;
	height: 24px;
	line-height: 23px;
}
.itm .new li:nth-of-type(1){
	border-bottom: 1px solid #00a1d6;
	background: url(../img/comic-img/tri.png) no-repeat center bottom;
}
.itm .button li{
	line-height: 22px;
	border: 1px solid #ccd0d7;
	padding: 0 10px;
	margin-right: 10px;
}
.button span{
	line-height: 24px;
}
.button .renew i{
	width: 14px;
	height: 24px;
	background: url(../img/comic-img/icons.png) no-repeat -116px 1px;
	margin-right: 3px;
}
.button .more i{
	width: 7px;
	height: 24px;
	background: url(../img/comic-img/icons.png) no-repeat -116px -28px;
	margin-right: 3px;
}
.itm .video{
	height: 505px;
}
.itm .video li{
	float: left;
	width: 160px;
	height: 146px;
	margin-bottom:22px;
	margin-right: 20px;
	position: relative;
}
.video .intro{
	line-height: 34px;
}
.play{
	height: 12px;
	line-height: 12px;
	color: #9aa2a9;
}
.play i{
	width: 12px;
	height: 12px;
	background-image:url(../img/comic-img/icons.png);
	background-repeat: no-repeat;
	margin-right: 5px;
}
.play .number i{
	background-position: -50px -74px;
}
.right_part header{
	margin-bottom:20px;
}
.play .number{
	margin-right: 25px;
}
.play .danmaku i{
	background-position: -50px -110px;
}
.itm .right_part{
	width: 260px;
	height: 548px;
}
.itm .right_part .type{
	line-height: 23px;
}
.right_part .type .active{
	margin-right: 11px;
	color: #00a1d6;
	background: url(../img/comic-img/tri.png) no-repeat center bottom;
	border-bottom: 1px solid #00a1d6;
}
.right_part select{
	border: 1px solid #ccd0d7;
	outline: none;
}
.right_list li{
	margin-bottom: 15px;
}
.right_list .intro{
	width: 148px;
}
.right_list .name{
	line-height: 18px;
}
.right_list .score{
	line-height: 16px;
	color: #99a2aa;
}
.right_list span{
	width: 18px;
	height: 18px;
	color: #fff;
	background-color: #b8c0cc;
	border-radius: 4px;
	text-align: center;
	line-height: 18px;
}
.right_list .top{
	background-color: #f25d8e;
}
.right_list img{
	margin:0 7px;
}
.right_list .normal{
	margin-top:20px;
}
.right_part .check_more{
	width: 260px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	background-color:#e5e9ef;
}
.itm{
	margin-bottom: 30px;
}
.gold{
	width: 36px;
	height: 23px;
	background:url(../img/comic-img/icons.png) no-repeat -50px 0;
}
/*mad样式*/
