body {
  font: 16px '微软雅黑';
}
#box #head_sm {
  display: none;
}
#box #head {
  box-sizing: border-box;
}
#box #head h1 {
  text-indent: -9999px;
  width: 108px;
  height: 23px;
  margin-top: 13px;
  background: url(../img/logo.png) no-repeat;
}
#box #head .width {
  max-width: 1215px;
  margin: 0 auto;
}
#box #head .head_list li {
  float: left;
  margin: 0 27px;
  line-height: 50px;
  color: #262626;
}
#box #head .head_list li:nth-of-type(1) {
  margin-left: 45px;
}
#box #head .head_list li:nth-last-of-type(1)::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icons.png) no-repeat;
}
#box #head .head_list li.sm {
  width: 14px;
  height: 50px;
  background: url(../img/icons.png) no-repeat -146px 0;
  margin: 0;
  display: none;
}
#box #head .head_right {
  margin-top: 17px;
}
#box #head .head_right li {
  float: left;
  margin: 0 13px;
  line-height: 24px;
  color: #262626;
}
#box #head .head_right li:nth-of-type(1) {
  width: 20px;
  height: 20px;
  background: url(../img/icons.png) no-repeat -23px 0;
}
#box #head .head_right li:nth-of-type(2) {
  width: 20px;
  height: 20px;
  background: url(../img/icons.png) no-repeat -45px 0;
}
#box #wrap {
  overflow: hidden;
}
#box #wrap .banner_sm {
  display: none;
}
#box #wrap .banner {
  height: 454px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 73px;
  position: relative;
  background: url(../img/surface_pro.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 48px;
}
#box #wrap .banner h3 {
  line-height: 43px;
  font-size: 24px;
}
#box #wrap .banner p {
  line-height: 33px;
  margin-bottom: 17px;
}
#box #wrap .banner .buy {
  width: 130px;
  height: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
#box #wrap .banner .banner_bt {
  position: absolute;
  left: 45%;
  bottom: 20px;
  width: 55px;
  height: 11px;
}
#box #wrap .banner .banner_bt a {
  float: left;
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 6px;
}
#box #wrap .banner .banner_bt span {
  float: right;
  font-size: 8px;
}
#box #wrap .b2 {
  margin-bottom: 32px;
}
#box #wrap .hardware {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#box #wrap .hardware li {
  width: 267px;
  margin-bottom: 72px;
}
#box #wrap .hardware li img {
  width: 100%;
}
#box #wrap .hardware li h4 {
  margin-top: 12px;
  line-height: 26px;
}
#box #wrap .hardware li P {
  line-height: 25px;
}
#box #wrap .hardware li .buy {
  line-height: 35px;
  color: #0067b8;
}
#box #wrap .software_h3 {
  line-height: 64px;
  text-indent: 20px;
  font-size: 24px;
}
#box #wrap .software {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#box #wrap .software li {
  width: 267px;
  margin-bottom: 60px;
}
#box #wrap .software li img {
  width: 100%;
}
#box #wrap .software li h4 {
  margin-top: 12px;
  line-height: 26px;
}
#box #wrap .software li P {
  line-height: 25px;
}
#box #wrap .software li .buy {
  line-height: 35px;
  color: #0067b8;
}
#box #wrap .banner2 {
  height: 454px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 73px;
  position: relative;
  background: url(../img/banner2.png) no-repeat;
  background-size: 100% 100%;
  margin-bottom: 48px;
}
#box #wrap .banner2 h3 {
  line-height: 43px;
  font-size: 24px;
}
#box #wrap .banner2 p {
  line-height: 33px;
  margin-bottom: 17px;
}
#box #wrap .banner2 .buy {
  width: 217px;
  height: 40px;
  background-color: #000;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
#box #wrap .banner2 .banner_bt {
  position: absolute;
  left: 45%;
  bottom: 20px;
  width: 55px;
  height: 11px;
}
#box #wrap .banner2 .banner_bt a {
  float: left;
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 3px;
  margin-right: 6px;
}
#box #wrap .banner2 .banner_bt span {
  float: right;
  font-size: 8px;
}
#box #wrap .focus {
  margin-bottom: 48px;
}
#box #wrap .focus div {
  line-height: 32px;
  color: #666666;
}
#box #wrap .focus a {
  width: 32px;
  height: 32px;
  margin-left: 12px;
}
#box #wrap .focus a:nth-of-type(1) {
  background: url(../img/icons.png) no-repeat -69px 0;
}
#box #wrap .focus a:nth-of-type(2) {
  background: url(../img/icons.png) no-repeat -106px 0;
}
#box #foot {
  padding-top: 32px;
  background-color: #f2f2f2;
  color: #616161;
  font: 12px/29px '微软雅黑';
}
#box #foot .foot_cont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#box #foot .foot_cont dl {
  width: 200px;
  margin-bottom: 170px;
}
#box #foot .foot_cont dl dt {
  color: #616161;
  font-size: 14px;
  font-weight: bold;
}
#box #foot .foot_bootom .language::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/icons.png) no-repeat 0 -26px;
  vertical-align: middle;
  margin-right: 10px;
}
#box #foot .foot_bootom .about {
  width: 894px;
  display: flex;
  justify-content: space-around;
}
@media only all and (max-width: 1083px) {
  .width {
    width: 1065px!important;
  }
  #head {
    padding: 0 24px;
  }
  #head .width {
    width: 1025px!important;
  }
  #box #wrap .banner {
    height: 569px;
  }
  #box #wrap .hardware li {
    width: 494px;
  }
  #box #wrap .software li {
    width: 494px;
  }
  #box #wrap .banner2 {
    height: 569px;
  }
  #box #foot .foot_cont {
    box-sizing: border-box;
    padding: 0 30px;
  }
  #box #foot .foot_cont dl {
    width: 260px;
  }
  #box #foot .foot_bootom {
    display: none;
  }
}
@media only all and (max-width: 799px) {
  .width {
    width: 781px!important;
  }
  #head {
    box-sizing: border-box;
    padding: 0 24px;
    font-size: 12px;
  }
  #head .width {
    width: 750px!important;
  }
  #head .head_list li:nth-last-of-type(1) {
    display: none;
  }
  #head .head_list li:nth-of-type(5) {
    margin-right: 10px !important;
  }
  #head .head_list .sm {
    display: block !important;
  }
  #box #wrap .banner {
    height: 409px;
  }
  #box #wrap .hardware li {
    width: 352px;
  }
  #box #wrap .software li {
    width: 352px;
  }
  #box #wrap .banner2 {
    height: 409px;
  }
  #box #foot .foot_cont {
    box-sizing: border-box;
    padding: 0 30px;
  }
  #box #foot .foot_cont dl {
    width: 232px;
  }
  #box #foot .foot_bootom {
    display: block;
  }
  #box #foot .foot_bootom .language {
    margin-left: 16px;
  }
  #box #foot .foot_bootom .about {
    width: 781px;
  }
  #box #foot .foot_bootom .about a:nth-last-of-type(1) {
    display: none;
  }
}
@media only all and (max-width: 539px) {
  .width {
    width: 100%!important;
  }
  #box #head {
    display: none;
  }
  #box #head_sm {
    display: block;
    overflow: hidden;
    height: 50px;
    position: relative;
  }
  #box #head_sm .head_list {
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) no-repeat 16px -70px;
  }
  #box #head_sm h1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 109px;
    height: 24px;
    background: url(../img/logo.png) no-repeat;
    text-indent: -9999px;
  }
  #box #head_sm .icons {
    margin-top: 15px;
    margin-right: 5%;
  }
  #box #head_sm .icons a {
    width: 20px;
    height: 20px;
    background: url(../img/icons.png) no-repeat;
  }
  #box #head_sm .icons a:nth-of-type(1) {
    background-position: -23px 0;
    margin-right: 12px;
  }
  #box #head_sm .icons a:nth-of-type(2) {
    background-position: -45px 0;
  }
  #box #wrap .banner {
    display: none;
  }
  #box #wrap .banner_sm {
    display: block;
    margin-bottom: 48px;
  }
  #box #wrap .banner_sm img {
    width: 100%;
  }
  #box #wrap .banner_sm .banner_sm_intro {
    padding: 44px 0 102px;
    text-align: center;
    background-color: #e6e6e6;
    position: relative;
  }
  #box #wrap .banner_sm .banner_sm_intro h3 {
    font: bold 20px/42px '微软雅黑';
  }
  #box #wrap .banner_sm .banner_sm_intro p {
    line-height: 35px;
  }
  #box #wrap .banner_sm .banner_sm_intro .buy {
    width: 129px;
    height: 40px;
    margin-top: 15px;
    display: inline-block;
    line-height: 40px;
    background-color: #000;
    color: #fff;
  }
  #box #wrap .banner_sm .banner_sm_intro .banner_bt {
    position: absolute;
    left: 45%;
    bottom: 20px;
    width: 55px;
    height: 11px;
  }
  #box #wrap .banner_sm .banner_sm_intro .banner_bt a {
    float: left;
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 3px;
    margin-right: 6px;
  }
  #box #wrap .banner_sm .banner_sm_intro .banner_bt span {
    float: right;
    font-size: 8px;
  }
  #box #wrap .banner2_sm .buy {
    width: 217px!important;
  }
  #box #wrap .hardware li {
    width: 96%;
    padding: 0 2%;
  }
  #box #wrap .software li {
    width: 96%;
    padding: 0 2%;
  }
  #box #wrap .banner2 {
    display: none;
  }
  #box #foot .foot_cont dl {
    width: 100%;
    margin-bottom: 50px;
  }
  #box #foot .foot_bootom {
    display: none;
  }
}
