/*css reset*/
body,h4{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
}
img{
	vertical-align: top;
}
/*main*/
.clearfix:after{
	content: "";
	display: block;
	clear:both;
}
body{
	font: 14px "宋体";
}
#box{
	width: 972px;
	height: 421px;
	border: 1px solid #dddfdc;
	border-top: none;
	border-right: none;
	margin: 20px auto;
}
.itm{
	float: left;
	height: 417px;
	border-top: 4px solid #abe27d;
	border-right: 1px solid #dddfdc;
	padding-right: 11px;
	padding-left: 10px;
}
.itm h4{
	text-align: center;
	font-size: 16px;
	color: #85a250;
	line-height: 41px;
}
.itm_hot{
	padding-bottom: 12px;
	border-bottom: 1px dashed #dbdbdb;
	margin-bottom: 12px;
}
.descri{
	display: block;
	line-height: 23px;
	background: url(../img/doc.png) no-repeat right 7px;
}
.descri span{
	color: #a9a9a9;
	font-size: 12px;
}
.movie2{
	margin-top: 7px;
}
.itm_hot img{
	display: block;
	padding:1px;
	border: 1px solid #dddddd;
}
.movie{
	line-height: 22px;
	margin-bottom: 2px;
}
.name span,.movie_descri{
	font-size: 12px;
	color:  #a9a9a9;
}
