div,ul,li,h1,h2,h3,h4,a,img,input{
	box-sizing: border-box;
}
#box{
	width: 100%;
	height: 6000px;
	font: 12px arial,'微软雅黑';
	
}
.box_banner{
	height: 170px;
	background: url(../img/bg.png) no-repeat top center;
	text-indent:-9999px;
}
#box .box_head{
	height: 170px;
	margin-top: -170px;

}
.head_top_cont{
	width: 960px;
	height: 42px;
	margin:0 auto;
}
.head_top{
	height: 42px;
	background-color: rgba(255,255,255,0.6);
	}
.head_nav{
	height: 42px;
	float: left;
}
.user{
	width: 155px;
	float: right;
}
.head_nav li{
	float: left;
	padding: 0 10px;
	line-height: 42px;
}

.head_nav li:nth-child(1){
	padding-left: 23px;
	background: url(../img/icons.png) no-repeat -599px -1036px;

}
.head_nav li:nth-last-child(1){
	padding-left: 30px;
	background: url(../img/icons.png) no-repeat -1359px -1164px;
}
.head_nav li:hover{
	background-color: rgba(255,255,255,0.5);
}
.user img{
	float: left;
}
.user a{
	float: left;
	text-align: center;
}
.user a:nth-last-child(1){
	width: 58px;
	height: 48px;
	line-height: 42px;
	background: url(../img/top_bt.png) no-repeat;
	color: #fff;
}
.user a:nth-child(2){
	padding: 0 11px 0 22px;
	line-height: 42px;
}
.head_logo{
	position: absolute;
	left: 15px;
	top: 15px;
}
.head_middle{
	width: 960px;
	height: 120px;
	margin: 0 auto;
	margin-top: 7px;
	position: relative;	
}
.head_search {
	position: absolute;
	right: 0px;
	top:66px;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
	border-radius: 3px;
}
.head_search a{
	float: left;
	width: 68px;
	height: 32px;
	line-height: 32px;
	text-indent: 26px;
	background:url(../img/icons.png) -661px -655px rgba(255,255,255,0.7);
	border-radius: 3px;
	color: #f25d8e;
}
.head_search form{
	float: left;
	margin-left: 2px;
}
.head_search form:hover{
	background-color: #fff;
	border-radius: 3px;
}
.head_search input[type="text"]{
	float: left;
	width: 226px;
	height: 32px;
	border: none;
	background-color: rgba(255,255,255,0.8);
	border-radius: 3px 0 0 3px;
	outline: none;
	text-indent: 5px;
}
.head_search input[type="submit"]{
	float: left;
	width: 42px;
	height: 32px;
	border: none;
	background:url(../img/icons.png) -661px -720px rgba(255,255,255,0.8);
	border-radius: 0 3px 3px 0;	
	outline: none;
	cursor: pointer;
}
#content{
	width: 985px;
	margin: 0 auto;
	position: relative;
}
.top_nav{
	height: 48px;
	margin-top: 7px;
	margin-bottom: 8px;
}
.top_nav a{
	float: left;
	width: 48px;
	height: 48px;
	line-height: 16px;
	padding-top: 28px;
	text-align: center;
	background: url(../img/nav_icons.png) no-repeat;
}
.top_nav a:nth-child(1){
	width: 24px;
	margin-right: 9px;
}
.top_nav a:nth-child(2){
	background-position: -32px 0;
}
.top_nav a:nth-child(3){
	background-position: -80px 0;
}
.top_nav a:nth-child(4){
	background-position: -128px 0;
}
.top_nav a:nth-child(5){
	background-position: -176px 0;
}
.top_nav a:nth-child(6){
	background-position: -224px 0;
}
.top_nav a:nth-child(7){
	background-position: -272px 0;
}
.top_nav a:nth-child(8){
	background-position: -320px 0;
}
.top_nav a:nth-child(9){
	background-position: -368px 0;
}
.top_nav a:nth-child(10){
	background-position: -416px 0;
}
.top_nav a:nth-child(11){
	background-position: -464px 0;
}
.top_nav a:nth-child(12){
	background-position: -512px 0;
}
.top_nav a:nth-child(13){
	background-position: -560px 0;
}
.top_nav a:nth-child(14){
	background-position: -608px 0;
}
.top_nav a:nth-child(15){
	background-position: -656px 0;
}
.top_nav a:nth-child(16){
	background-position: -704px 0;
}
.top_nav a:nth-child(17){
	background-position: -752px 0;
}
.top_nav a:nth-child(18){
	background-position: -800px 0;
}
.top_nav a:nth-child(19){
	background-position: -848px 0;
}
.top_nav a:nth-child(20){
	padding: 0;
	margin-left: 26px;
	background:none;
}
.head_video{
	height: 240px;
	margin-bottom: 13px;
}
.head_video .banner{
	width: 440px;	
	height: 220px;
	margin-right: 20px;
	position: relative;
}
.banner .text{
	width: 440px;
	height: 34px;
	line-height: 34px;
	text-indent: 10px;
}
.hv_icon{
	position: absolute;
	bottom: 12px;
	right:23px;
	z-index: 2;
}
.hv_icon li{
	box-sizing: content-box;
	background-clip:content-box;
	float: left;
	border: 2px solid transparent;
	text-indent: -9999px;
	margin-left:16px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
	margin-top:5px;
}
.hv_icon li:hover{
	background-color: #00a1d6;
}
.video_list{
	height: 240px;
	width: 520px;
}

.video_list li{
	width: 160px;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 20px;
	position: relative;
}
.video_list .text{
	background-color: rgba(0,0,0,0.4);
	line-height: 24px;
	width: 160px;
	padding: 0 11px;
}
.video_list li:nth-child(3){
	margin-right: 0;
}
.video_list li:nth-last-child(1){
	margin-right: 0;
}
#cont_body .comic_left h3{
	height: 35px;
	font: 22px/35px '微软雅黑';
	margin-bottom: 16px;
}
#cont_body li:hover{
	color: #84d2ff;
}
#cont_body .h3_img{
	float: left;
	width: 38px;
	height: 35px;
	background-image:url(../img/icons.png) ;
	background-repeat: no-repeat;
}
#cont_body h3 .text{
	margin-top: 5px; 
	line-height: 30px;
	font-size: 24px;
	float: left;
	text-indent: 13px;
	font-weight: normal;
}
.recom{
	height: 200px;
	margin-bottom: 48px;
}
.recom_left header{
	margin-bottom: 20px;
}
.recom_left .h3_img{
	background-position: -141px -78px;
}
.recom li{
	width: 161px;
	line-height: 20px;
	margin-right: 20px;
}
.recom li img{
	margin-bottom: 7px;
}
.live_number{
	width: 260px;
	height: 34px;
	padding-top: 11px;
	margin-top: 7px;
	border-radius: 4px;
	background-color: #e5e9ef;
}
.live_number .fl{
	height: 12px;
	line-height: 12px;
	padding:0 15px;
	color: #6d757a;
	border-right: 1px solid #6d757a;
}
.live_number div:nth-last-child(1){
	border-right: none;
	padding-right: 0;
}
.recom_post{
	margin-top: 10px;
}
.live .h3_img{
	background-position: -140px -655px;
}
.live{
	margin-bottom: 22px;
}
.live_left .head{
	margin-bottom: 20px;
}
.room_number,.live_hot{
	height: 35px;
	line-height: 12px;
	padding-top: 16px;
}
.room_number{
	margin-left: 21px;
}
.room_number span{
	color: #52a1d9;
}
.live_hot{
	margin-left: 40px;
	text-indent: 16px;
	background: url(../img/icons.png) -665px -1100px;
}
.live_img{
	position: relative;
	margin-bottom: 3px;
}
.live_renew i{
	width: 15px;
	height: 22px;
	background: url(../img/mine_icon.png) no-repeat -7px -24px;
}
.live_room .ps_bottom{
	width: 160px;
	line-height: 20px;
}
.live_room .up_name{
	text-indent: 2px;
}
.live_room .number{
	background:url(../img/mine_icon.png) no-repeat -15px -1px;
	text-indent: 20px;
	padding-right:2px;
}
.live_room .text{
	line-height: 20px;
}
.room_type{
	color: #9ba3ab;
}
.live_recom{
	width: 721px;
	height: 321px;
}
.live_recom li{
	margin-bottom: 16px;
	margin-right: 19px;
}
.renew_bt{
	height: 24px;
	line-height: 22px;
	padding-right:10px;
	border:1px solid #ccd0d7;
	border-radius: 4px;
	margin-top: 7px;
}
.button_set{
	float: right;
}
.live_left{
	width: 720px;
}
.renew_bt i{
	width: 27px;
	height: 22px;
	background: url(../img/mine_icon.png) no-repeat -8px -24px;
}
.more_bt{
	height: 24px;
	line-height: 22px;
	border:1px solid #ccd0d7;
	padding-right: 9px;
	margin-top: 7px;
	margin-left: 10px;
	border-radius: 4px;
	margin-right: 20px;
	text-indent: 10px;
}
.more_bt i{
	width: 10px;
	height: 22px;
	background: url(../img/mine_icon.png) no-repeat -20px -48px;
}
.live_right .head a{
	float: left;
	line-height: 29px;
	padding: 0 6px;
}
.live_right .head a:nth-child(1){
	padding-left: 0;
}
.live_right .head a:hover{
	border-bottom: 1px solid #00a1d6;
	background: url(../img/live_tri.png) no-repeat center bottom;
}
.live_right .head{
	height: 31px;
	margin-bottom: 20px;
}
.live_right .middle{
	width: 260px;
	height: 248px;
	margin-bottom: 20px;
	position: relative;
}
.live_right .middle .text{
	width: 260px;
}
.live_right .middle .name{
	display: block;
	line-height: 27px;
	color: #fff;
	text-indent: 10px;
	background-color: rgba(0,0,0,0.5);
}
.live_right .middle .scroll{
	width: 260px;
	height: 24px;
	padding: 6px 0 0 101px;
	background-color: rgba(0,0,0,0.8);
}
.live_right .middle i{
	display: inline-block;
	width: 66px;
	height: 6px;
	background: url(../img/live_scroll.png) no-repeat;
}
.comic .head{
	height: 35px;
}
.comic .head h3{
	margin-right: 25px;
}
.comic .h3_img{
	background-position: -143px -910px;
}
.comic .head{
	margin-bottom: 17px;
}
.comic .head_left > a{
	margin-right: 12px;
	margin-top: 5px;
	line-height: 26px;
}
.comic .head_left > a:hover{
	color: #00a1d6;
	border-bottom: 1px solid #00a1d6;
	background: url(../img/live_tri.png) no-repeat center bottom;
}
.comic h3 .text{
	line-height: 30px;
}
img[src*="app1"]{
	margin-right: 6px;
}
.comic_left{
	width: 720px;
	margin-bottom: 30px;
}
.comic_list .text{
	line-height: 32px;
	margin-top: 2px;
}
.comic_bottom i{
	background:url(../img/icons.png) no-repeat;
}
.play_number,.danmaku{
	line-height: 12px;
	color: #9aa2a9;
	text-indent: 5px;
}
.play_number{
	width: 68px;
}
.play_number i{
	width: 12px;
	height: 12px;
	background-position: -282px -90px;
}
.danmaku i{
	width: 12px;
	height: 12px;
	background-position: -282px -218px;
}
.comic_list li{
	margin-bottom: 22px;
	margin-right: 20px;
}
.comic_right header{
	width: 260px;
	height: 27px;
	padding-top: 5px;
	margin-bottom: 17px;
}
#contont .right_h3{
	font-size: 17px;
	line-height: 27px;
	margin-bottom: 0;
}
.comic_type{
	margin-left: 11px;
}
.comic_type li{
	width: 24px;
	margin:0 7px;
	line-height: 26px;
	float: left;
}
.comic_type li:hover{
	color: #00a1d6;
	border-bottom: 1px solid #00a1d6;
	background: url(../img/live_tri.png) no-repeat center bottom;
}
.time_length{
	float: right;
	width: 57px;
	height: 24px;
	border: 1px solid #ccd0d7;
	outline: none;
}
.right_list{
	margin-bottom: 15px;
}
.right_list .number_top{
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	margin-right: 7px;
	background-color: #f25d8e;
	color: #fff;
}
.right_list_img{
	margin-right: 5px;
}
.right_list .active{
	margin-bottom: 20px;
}
.active .intro_text{
	height: 40px;
	line-height: 18px;
}
.right_list_intro{
	width: 150px;	
}
.right_list_intro .rank{
	line-height: 12px;
	color: #99a2aa;
}
.right_list .normal{
	margin-bottom: 20px;
}
.right_list .number_nor{
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	margin-right: 7px;
	background-color: #b8c0cc;
	color: #fff;
}
.content_ads{
	margin-bottom: 12px;
}
.Japan_comic_left .h3_img{
	background-position: -140px -142px;
}
.renew_time{
	margin-left: 20px;

	line-height: 35px;
	font-size: 18px;
}
.renew_time li{
	float: left;
	text-align:center;
	width: 56px;
	height: 38px;
	padding-top: 3px;
	border-bottom: 1px solid #e5e9ef;
}
.renew_time li:hover{
	color: #00a1d6;
	border-bottom: 1px solid #00a1d6;
	background: url(../img/live_tri.png) no-repeat center bottom;
}
.newcomic_button{
	width: 106px;
	height: 36px;
	margin-top: 1px;
	margin-left: 28px;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	border: 1px solid #f25d8e;
	color: #f25d8e;
}
.Japan_comic_left header{
	margin-bottom: 9px;
}
.renew_list{
	width: 701px;
	height: 402px;
	overflow-y: scroll;
}
.renew_list li{
	float: left;
	width: 178px;
	height: 75px;
	margin-right: 48px;
	margin-bottom: 33px;
}
.renew_detail{
	width: 94px;
}
.renew_list li img{
	margin-top: 3px;
	margin-right: 12px;
}
.renew_name{
	height:57px;
	line-height: 18px;
}
.renew_num span{
	color: #aaaaaa;
}
.renew_num .episode{
	padding:0 7px;
	height: 18px;
	color: #fff;
	text-align: center;
	background-color: #ff8eb3;
	border-radius: 9px;
	margin-left: 5px;
}
.Japan_comic_left{
	margin-right: 10px;
}
.japan_list span{
	color: #99a2aa;
	margin-left: 7px;
}
.right_list_foot a{
	display: block;
	line-height: 26px;
	text-align: center;
	background-color: #e5e9ef;
}
.Japan_comic{
	margin-bottom: 55px;
}
#content .J_comic_recom h3{
	height: 24px;
	font: 18px/24px '微软雅黑';
	margin-bottom: 15px;
}
.J_comic_recom .head{
	height: 24px;
}
.c_comic_recom .comic_right header{
	padding-top: 0;
}
.J_comic_recom .head_left a{
	margin-top: 0;
}
.J_comic_recom .renew_bt,.J_comic_recom .more_bt{
	margin-top: 0;
}
.japan_recom_spe{
	width: 260px;
	height: 268px;
	position: relative;
}
.j_recom_bar{
	width: 260px;
	height: 31px;
	color: #fff;
	line-height: 31px;
	background-color: rgba(0,0,0,0.1);
}
.j_recom_bar .name{
	margin-left: 10px;
}
.j_recom_bar .icons{
	margin-top:16px;
	margin-right: 20px;
}
.china_comic .h3_img{
	background-position: -332px -1100px;
}
.china_comic .right_list_foot{
	margin-bottom:15px;
}
.china_comic .renew_list{
	height: 288px;
}
.show{
	background: transparent url('../img/banner_icon.png') no-repeat !important;
	width:17px!important;
	height:17px!important;
	margin-top:0!important;
}
.music .h3_img{
	background-position: -140px -266px;
}
.right_h3{
	font-size: 18px;
	font-weight: normal;
}
.dance .h3_img{
	background-position: -140px -461px;
}
.game .h3_img{
	background-position: -140px -203px; 
}
.science .h3_img{
	background-position: -141px -525px; 
}
.life .h3_img{
	background-position: -137px -972px;
}
.remix .h3_img{
	background-position: -143px -332px;
}
.fashion .h3_img{
	background-position: -142px -718px;
}
.ads_block .h3_img{
	background-position: -140px -1231px;
}
.amusement .h3_img{
	background-position: -140px -1032px;
}
.movie .h3_img{
	background-position: -140px -397px;
}
.tv-show .h3_img{
	background-position: -140px -848px;
}
.TV .h3_img{
	background-position: -142px -1358px;
}
.documentary .h3_img{
	background-position: -142px -1293px;
}
.spe_recom .h3_img{
	background-position: -140px -785px;
}
.spe_recom{
	margin-bottom: 44px;
}
.spe_recom header{
	margin-bottom:20px;
}
.spe_left li{
	position: relative;
	float: left;
	width: 160px;
	height: 166px;
	line-height: 21px;
	margin-right:20px;
}

.spe_top img{
	padding-left:7px;
}
.spe_top .spe_color{
	margin-left: 44px;
	color: #aaaaaa;
}
.spe_toptext a{
	color: #000;
}
.spe_toptext a:hover{
	color: #00a1d6;
}
.spe_text{
	position: absolute;
	top: 75px;
}
.spe_toptext{
	padding-top: 23px;
}
#box_foot{
	width: 100%;
	background-color: #f6f9fa;
	padding-top: 39px;
	padding-bottom: 22px;
}
.footer_cont{
	width: 940px;
	margin: 0 auto;
}
.bilibili{
	width: 325px;
	height: 112px;
	border-right: 1px solid #e5e9ef;
}
.bilibili h4,.trans h4{
	height: 28px;
	line-height: 12px;
	color:#99a2aa;
}
.bilibili_link li{
	float: left;
	line-height: 30px;
	font-size: 14px;
	margin-right:43px;
	color: #222;
}
.trans{
	width: 349px;
	padding-left:24px;
	padding-right: 54px;
	border-right: 1px solid #e5e9ef;
}
.about{
	width: 264px;
	height: 112px;
	padding-left: 28px;
}
.about li{
	float: left;
	width: 70px;
	height: 88px;
	margin-right: 12px;
	text-align: center;
}
#box_foot a:hover{
	color: #00a1d6;
}
.about i{
	display: block;
	width: 70px;
	height: 59px;
	background-image: url(../img/about.png);
	background-repeat: no-repeat;
}
.foot_icon1{
	background-position: 7px 0px;
}
.foot_icon2{
	background-position: 7px -59px;
}
.foot_icon3{
	background-position: 7px -118px;
}
.about .text{
	line-height: 30px;
}
.cont_bottom{
	height: 140px;
}
.cont_bottom .left{
	margin-right: 15px;
}
a[class*="coop"]{
	display: block;
	background-image: url(../img/cooperation.png);
	background-repeat: no-repeat;
}
.cont_top{
	margin-bottom: 30px;
}
.coop1{
	width: 96px;
	height: 36px;
}
.coop2{
	width: 96px;
	height: 39px;
	background-position: 0 -36px;
}
.coop3{
	width: 100px;
	height: 43px;
	background-position: 0 -75px;
}
.cont_bottom .right{
	width: 789px;
	height: 114px;
	text-indent: -9999px;
	background:url(../img/attention.png) no-repeat;
}
#cont_bar{
	width: 50px;
	height: 422px;
	border: 1px solid #e5e9ef;
	position: absolute;
	right: -60px;
}
#cont_body .text{
	cursor: pointer;
}
#cont_bar label{
	display: block;
	overflow: hidden;
}
#cont_bar input{
	vertical-align: top;
	margin-left:-16px;
}
#cont_bar span{
	display: inline-block;
	width: 48px;
	vertical-align: top;
	text-align: center;
	line-height: 30px;
}
#cont_bar input:checked +span{
	background-color: #00a1d6;
	color: #fff;
}