/*css reset*/
body {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}
img {
  vertical-align: top;
}
/*main*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.box {
  padding: 0 0.7037037rem;
  font-size: 0.62962963rem;
}
.box .top {
  display: flex;
}
.box .top li {
  flex-grow: 1;
  line-height: 1.92592593rem;
  text-align: center;
}
.box .top li::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 1.2962963rem;
  height: 1.2962963rem;
  background: url(../img/icons.png) no-repeat;
  background-size: 5.55555556rem 5.55555556rem;
}
.box .top li:nth-of-type(2):before {
  background-position: -1.38888889rem 0;
}
.box .top li:nth-of-type(3):before {
  background-position: -2.77777778rem 0;
}
.box .bottom {
  display: flex;
  text-align: center;
}
.box .bottom li {
  flex-grow: 1;
  line-height: 1.92592593rem;
}
