/*css reset*/
body,h2,h3,h4{
	margin: 0;
}
button{
	border: 0;
	padding: 0;
	cursor: pointer;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	color: #000;
	text-decoration: none;
	color: inherit;
}
img{
	vertical-align: top;
}
/*main*/
.clearfix:after{
	content: "";
	display: block;
	clear:both;
}
body{
	font:12px arial,'微软雅黑';
}
#box{
	width: 1080px;
	height: 2530px; 
}
.top_list{
	height: 25px;
	padding-top: 5px;
	padding-left: 508px;
	background-color: #2f2f2f;
	line-height: 20px;
	color: #b5b5b5;
}
.top_list li{
	float: left;
	padding:0 10px;
	border-right: 1px solid #3d3d3d;
}
.log span{
	color: #8b8b8b;
}
.top_list .vip{
	padding-left: 30px;
	background: url(../img/top_icon.png) 9px -18px no-repeat;
}
.top_list .pay{
	padding-left: 30px;
	background: url(../img/top_icon.png) 9px 0 no-repeat;
}
.top_list a:hover{
	color: #fff;
}
#head{
	height: 113px;
	border-bottom: 1px solid #dddddd;
}
#head h2,#head section{
	float: left;
}
#head h2{
	background: url(../img/qq_head.png) no-repeat 49px 0;
	width: 290px;
	height: 113px;
	text-indent: -9999px;
}
.head_top{
	font:16px/37px '微软雅黑';
	margin-bottom: 13px;
	float: left;
	overflow: hidden;
}
.head_top label{
	display: block;
	float: left;
	overflow: hidden;
}
.head_top .radio{
	margin-left: -20px;
}
.head_top span{
	display: inline-block;
	padding-top: 38px;
	padding: 38px 20px 0 20px;
	line-height: 37px;
	border-radius: 0 0 4px 4px;
}
.head_top .radio:checked + span{
	background-color: #0dad51;
	color: #fff;
}
.head_bottom{
	height: 12px;
	color: #6e6e6e;
}
.head_bottom li{
	float: left;
	border-right:1px solid #6e6e6e;
	padding: 0 17px 0 19px; 
}
.head_bottom .no-b{
	border-right: none;
}
.head_bottom li:hover{
	color: #0dad51;
}
#head form{
	float: left;
	margin-top: 42px;
	margin-left: 78px;
}
#head .text{
	width: 208px;
	height: 29px;
	padding-left:10px;
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	box-shadow: #f0f0f0 0 0 0px 4px;
	background: url(../img/search.png) no-repeat 190px 10px;
	outline: none;
}
.cont_left{
	float: left;
	width: 700px;
	padding-top: 20px;
	padding-left:51px;
	padding-right: 40px;
}
.newsong .head{
	margin-bottom: 18px;
	text-indent: -9999px;
}
.newsong{
	margin-top: 40px;
	margin-bottom: 28px;
}
.newsong h3{
	float: left;
	width: 166px;
	height: 30px;
	background: url(../img/newsong.png) no-repeat;
	border-left: 5px solid #ff0000;
}
.change{
	float: right;
	width: 64px;
	height: 31px;
	background: url(../img/cont_buttom.png) no-repeat;
}
.newsong li{
	float: left;
	position: relative;
	margin-right: 12px;
	margin-bottom: 10px;
}
.newsong img{
	width: 130px;
	height: 130px;
}
.newsong_n{
	width: 130px;
	height: 48px;
	color: #11c651;
	line-height: 22px;
	background: rgba(0,0,0,0.8);
	position: absolute;
	bottom: 0;
	text-indent: 5px;
}
.newsong_n .singer{
	color: #fff;
}
.newsong .no-m{
	margin-right: 0;
}
.newmv .head{
	margin-bottom: 18px;
	text-indent: -9999px;
}
.newmv h3{
	float: left;
	width: 166px;
	height: 30px;
	background: url(../img/newMV.png) no-repeat;
	border-left: 5px solid #ff7800;
}
.newmv_list li{
	float: left;
	line-height: 23px;
	color: #8b8b8b;
	margin-right: 18px;
	margin-bottom:22px;
}
.destri{
	margin-top: 4px;
}
.destri_name .name{
	color: #0c8f44;
}
.destri_name .singer{
	color: #000;
}
.destri .time{
	text-align: right;
}
.newmv_list .no-m{
	margin-right: 0;
}
.hotsong_left h3{
	float: left;
	width: 129px;
	height: 30px;
	background: url(../img/head_hot.png) no-repeat;
	border-left: 5px solid #0dad51;
	text-indent: -9999px;
}
.hotsong_left .icon1{
	float: left;
	width: 30px;
	height: 30px;
	background: url(../img/cont_icon.png) no-repeat -30px 0;
	text-indent: -9999px;
}
.hotsong_left .icon2{
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	background: url(../img/cont_icon.png) no-repeat;
	text-indent: -9999px;
}
.hotsong_left .head{
	margin-bottom: 10px;
}
.hotsong_left .style{
	margin-top: 9px;
	height: 12px;
	float: right;
	color: #0c8f44;
	margin-left: 14px;
}
.hotsong_left .style li{
	float: left;
	padding: 0 7px;
	border-right: 1px solid #d8d8d8;
}
.hotsong_left .style .no-b{
	border-right: none;
}
.hotsong_left .style li:hover{
	color: #000;
}
.hotsong_left{
	float: left;
	margin-right: 10px;
}
.hotsong_list{
	font: 14px/37px arial,'微软雅黑';
	color: #0c8f44;
}
.hotsong_list .right{
	margin-left: 21px;
}
.hotsong_list .name{
	color: #515151;
}
.special{
	margin-top: 15px;
}
.special h3{
	width: 129px;
	height: 30px;
	margin-bottom: 20px;
	background: url(../img/special_head.png) no-repeat;
	border-left: 5px solid #f3508d;
	text-indent: -9999px;
}
.spe_big{
	float: left;
	line-height: 22px;
	margin-right: 15px;
	color: #8b8b8b;
}
.spe_name{
	color: #0c8f44;
	margin-bottom: 3px;
}
.spe_sm{
	line-height: 27px;
	
}
.spe_sm .no-b{
	margin-right: 0;
}
.spe_sm li{
	float: left;
	margin-right: 12px;
	margin-bottom: 29px;
}
.hotsong_left .head_right{
	margin-bottom: 0;
}
.hl_right{
	padding-top: 10px;
	border-left: 1px solid #e5e5e5;
}
.cont_right{
	float: left;
	padding-top: 21px;
	width: 220px;
}
.right_head h3{
	width: 219px;
	height: 29px;
	background: url(../img/cont_right_head.png) no-repeat;
	text-indent: -9999px;
}
.right_head{
	width: 220px;
	height: 134px;
	border-bottom: 1px solid #e4e4e4;
	text-align:center;
}
.cont_right .log{
	width: 170px;
	height: 45px;
	margin-top: 25px;
	background: #ffa200 url(../img/cont_log.png) no-repeat 18px 8px;
	font-size: 20px;
	text-indent: 18px;
	color: #fff;
}
.right_hot{
	width: 220px;
	height: 102px;
	margin-top: 20px;
	margin-bottom: 24px;
	background:url(../img/right_hot.png) no-repeat;
	text-indent: -9999px;
}
.right_peak h3{
	width: 55px;
	height: 24px;
	float: left;
	background: url(../img/peak_list.png) no-repeat;
	text-indent: -9999px;
}
.peakicon1,.peakicon2{
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 10px;
	text-indent: -9999px;
}
.peakicon1{
	background: url(../img/cont_icon.png) no-repeat -30px 0;
}
.peakicon2{
	background: url(../img/cont_icon.png) no-repeat;
}
.right_peak header{
	margin-bottom: 13px;
}
.peak_nav li{
	float: left;
	color: #0c8f44;
	padding: 0 8px;
	border-right: 1px solid #d8d8d8;
}
.peak_nav{
	height: 12px;
	line-height: 12px;
	margin-bottom: 19px;
}
.peak_nav .no-p{
	font-weight: bold;
	color: #000;
	padding-left:0;
}
.peak_nav .no-b{
	border-right:none;
}
.peak_nav li :hover{
	color: #ff5400;
}
.pointer .number{
	float: left;
	margin-right: 10px;
	font-size: 20px;
	color: #ff5400;
}
.pointer .post{
	float: left;
	width: 50px;
	height: 50px;
	background: url(../img/special/right-1.png);
	text-indent: -9999px;
}
.pointer{
	margin-bottom: 1px;
}
.pointer .song{
	margin-left: 11px;
	float: left;
}
.pointer .name{
	font-size: 22px;
	line-height: 30px;
	color: #ff5400;
}
.pointer .singer{
	line-height: 20px;
}
.peak_list{
	height: 232px;
	line-height: 24px;
	border-bottom: 1px dotted #c6c6c6;
}
.peak_list .number{
	color: #aaaaaa;
	margin-right: 25px;
}
.peak_list a{
	float: left;
}
.peak_list .song{
	color: #0c8f44;
}
.peak_list .singer{
	margin-left: 36px;
}
.peak_list li:hover .song{
	color: #ff5400;
}
.world_list{
	padding: 13px 0 14px 0;
	border-bottom: 1px solid #c6c6c6;
	line-height: 24px;
}
.world_list div{
	float: left;
	margin-right: 19px;
}
.world_list .no-m{
	margin-right: 0;
}
.world_list a{
	display: block;
}
.hotsinger header{
	height: 17px;
	margin-top: 27px;
	margin-bottom: 19px;
	text-indent: -9999px;
	background: url(../img/hot_singer.png) no-repeat;
}
.hotsinger .name{
	line-height: 29px;
	color: #0c8f44;
}
.hotsinger .singer{
	float: left;
	margin-right: 34px;
	margin-bottom: 10px
}
.hotsinger .no-m{
	margin-right: 0;
}
.hotsinger ul{
	height: 178px;
	border-bottom: 1px dotted #c6c6c6;
	margin-bottom: 13px;
}
.singerlist{
	word-spacing: 19px;
	border-bottom: 1px solid #c6c6c6;
	margin-bottom: 20px;
}
.singerlist a{
	display: inline-block;
	line-height: 24px;
}
.activity{
	height: 308px;
	border-bottom: 1px solid #c6c6c6;
}
.activity header{
	width: 72px;
	height: 17px;
	background: url(../img/activity.png) no-repeat;
	margin-bottom: 20px;
	text-indent: -9999px;
}
.activity .hot{
	margin-bottom: 7px;
}
.activity .hot a{
	display: block;
	color: #0c8f44;
	line-height: 24px;
}
#cont{
	height: 2117px;
}
.foot_itm1 .download{
	float: left;
	width: 257px;
	height: 110px;
	margin-right: 100px;
}
.foot_itm1{
	width: 926px;
	margin:0 auto;
}
#foot{
	background-color: #f7f7f7;
	color: #515151;
	word-spacing: 14px;
}
.foot_itm1 h4{
	color: #757575;
	font:bold 16px/32px '宋体';
}
.foot_itm1 a{
	line-height: 26px;
}
.foot_itm1 a:hover{
	color: #0c8f44;
}
.foot_itm1 .product{
	float: left;
	margin-right: 88px;
}
.foot_itm1 .friendship{
	float: left;
	margin-bottom: 55px;
}
.foot_itm2{
	width: 500px;
	height: 66px;
	margin:0 auto;
	background: url(../img/foot_statement.png) no-repeat;
	text-indent: -9999px;
}
